<a href="https://colab.research.google.com/github/VandanasBorate/Machine_Learning_Algorithms/blob/main/Fundsdata_Rolling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pymysql
!pip install sqlalchemy
!pip install --pre SQLAlchemy
!pip install quandl
!pip install mysql-connector-python
import pymysql
import pandas as pd
import quandl as qd
import time
import numpy as np
import datetime
from dateutil.relativedelta import relativedelta
import mysql.connector

In [ ]:
import pymysql
import pandas as pd
import quandl as qd
import time
import numpy as np
import datetime
from dateutil.relativedelta import relativedelta
import warnings
import pandas as pd
import mysql.connector
from sqlalchemy import create_engine
import sqlalchemy

In [ ]:
connection = mysql.connector.connect(host='investtrestore.cvmmgrjdemrn.ap-south-1.rds.amazonaws.com',
                                    database='fund_database',
                                    user='admin',
                                    password='iNVESTT1729')
cursor = connection.cursor()
# create Engine
engine = create_engine(
  'mysql+pymysql://admin:iNVESTT1729@investtrestore.cvmmgrjdemrn.ap-south-1.rds.amazonaws.com:3306/fund_database')

In [ ]:
cursor.execute("SELECT * FROM fund_database.funds_db")
fund_data = cursor.fetchall()
funds = pd.DataFrame(fund_data, columns=cursor.column_names)
funds.drop(columns=['id'], inplace=True)
# fund_df .drop(columns=['code'], inplace=True)
funds =funds.sort_values(by='date', ascending=True)
funds  =funds.set_index('date')

In [ ]:
codes_f = funds['code'].unique().tolist()
codes_f

In [ ]:
# fund_df1 =funds[funds['date'] >= pd.to_datetime('2021-09-03')]

In [ ]:
connection = mysql.connector.connect(host='investtrestore.cvmmgrjdemrn.ap-south-1.rds.amazonaws.com',
                          database='advisor',
                          user='admin',
                          password='iNVESTT1729')
cursor = connection.cursor()
# create Engine
engine = create_engine(
'mysql+pymysql://admin:iNVESTT1729@investtrestore.cvmmgrjdemrn.ap-south-1.rds.amazonaws.com:3306/advisor')

In [ ]:
sql_query = '''
SELECT Code,rolling, MAX(start_dates) AS max_date
FROM advisor.rollingdata
WHERE rolling = 1
GROUP BY Code;
'''

# Execute the SQL query
cursor.execute(sql_query)

# Fetch all the results
results = cursor.fetchall()
fund = pd.DataFrame(results, columns=cursor.column_names)
fund =fund.sort_values(by='max_date', ascending=True)

In [ ]:
fund

        Code  rolling   max_date
148   101699        1 2011-12-28
1219  128751        1 2015-11-03
407   109940        1 2015-11-25
1548  141923        1 2018-03-28
1549  141924        1 2018-03-28
...      ...      ...        ...
1769  147193        1 2022-04-23
1770  147196        1 2022-04-23
127   101408        1 2022-04-23
419   111704        1 2022-04-23
0       None        1 2023-04-21

[1957 rows x 3 columns]

In [ ]:
fund = fund.dropna()

In [ ]:
fund

        Code  rolling   max_date
148   101699        1 2011-12-28
1219  128751        1 2015-11-03
407   109940        1 2015-11-25
1548  141923        1 2018-03-28
1549  141924        1 2018-03-28
...      ...      ...        ...
837   119415        1 2022-04-23
1769  147193        1 2022-04-23
1770  147196        1 2022-04-23
127   101408        1 2022-04-23
419   111704        1 2022-04-23

[1956 rows x 3 columns]

In [ ]:
codes = fund['Code'].unique().tolist()
codes

In [ ]:
len(codes)

1956

In [ ]:
# for code in codes:
#   stime = time.time()
#   print(code)
#   fund_df = fund[fund['Code']== code]

#   fund_df = fund_df.sort_index(ascending=True)
#   print(fund_df)

In [ ]:
codes = fund['Code'].unique().tolist()
codes

In [ ]:
len(codes)

548

In [ ]:

# codes =['101830',
#  '101818',
#  '101806',]
 
 
data = []
for code in codes:
  stime = time.time()
  print(code)
  fund_df = funds[funds['code']==int(code)]
  fund_df = fund_df.sort_index(ascending=True)
  # print(fund_df)
  fund_start_date= None
  fund_end_date = funds.index[-1]
  fund_df2 = fund[fund['Code']== code]
  # print(fund_df2)
 
  for d in fund_df2['max_date']:
     if d in fund_df.index:
      fund_start_date = fund_df[fund_df.index == d].index[0]
      fundf = fund_df.loc[fund_start_date:fund_end_date] 
      # print(fundf)
      data.append(fundf)

101699
128751
109940
141923
141924
120830
120845
140220
147217
144994
139823
121158
121153
116424
119143
133713
133714
140333
134109
134110
146047
144658
144784
119279
119277
119275
119779
115882
112126
147647
117691
119252
123654
123651
119602
112293
147648
119271
119028
108202
120186
106597
106441
106370
117620
130493
130492
140328
140327
129438
140296
140295
148064
148063
118551
140274
140273
140256
140255
140243
140242
129440
118537
116633
132138
132140
133122
133307
132009
133184
133385
133386
132005
133486
133181
133054
131898
133051
132174
132178
132180
133036
133035
132186
132995
132989
132987
132183
132757
132756
132185
132998
120059
131865
130479
130472
130459
130450
130446
130314
130309
130206
130205
130050
130037
130496
129649
129312
129310
129223
129220
129213
129212
129200
129197
129195
129193
129191
129647
131896
130498
130503
131864
131670
131666
131580
131578
131373
131372
131357
131355
133488
131301
130502
131297
131051
130863
130860
130827
130825
130773
130771
130722
130721
130543
130533
131061
131331
133805
133516
135854
135853
135815
135813
135812
135810
135805
135804
135800
135797
135794
135859
135793
135781
135766
135764
135762
135759
135692
135689
135678
135677
135672
135655
135784
135914
135916
136090
138443
138386
138382
138376
138372
138358
138343
138337
138330
138323
138318
138312
138308
138299
138288
138270
138256
136567
136563
136473
136466
136465
136464
136463
136094
135654
133513
135607
135598
134013
134008
133926
133925
133868
133867
133859
133858
133839
133836
133810
134014
129188
133796
133791
133782
133711
133710
133607
133604
133572
133569
133568
133565
133801
134016
134017
134044
135343
135341
135321
135320
135122
135120
135106
134923
134922
134815
134813
134782
134644
134643
134594
134593
134547
134545
134536
134503
134499
134494
134387
134383
134045
135601
129187
128053
129052
120517
120513
120510
120507
120505
120503
120497
120494
120492
120490
120488
120486
120520
120484
120480
120479
120475
120473
120468
120465
120451
120447
120444
120438
120435
120430
120482
120425
120524
120537
120662
120656
120621
120620
120619
120616
120603
120599
120596
120594
120592
120591
120531
120590
120586
120579
120578
120577
120576
120575
120570
120564
120560
120546
120541
120539
120587
120665
120416
120406
120264
120261
120256
120251
120244
120242
120211
120197
120166
120164
120158
120154
120267
120152
120137
120131
120084
120082
120079
120073
120069
120066
120062
148467
120048
120046
120147
120413
120270
120279
120405
120403
120401
120398
120395
120392
120389
120385
120381
120377
120364
120357
120276
120351
120338
120334
120333
120323
120315
120313
120308
120307
120304
120299
120285
120282
120348
129065
120670
120676
126351
125713
125711
125597
125595
125503
125498
125497
125494
125354
125350
125307
126353
125305
124233
124175
124172
123708
123704
123693
123690
123638
123637
123004
122715
122650
124234
122646
126393
126685
129048
129046
129008
129006
128629
128628
128331
128236
128235
138453
128051
128009
126394
128006
127849
127305
127304
127183
127181
127073
127071
127042
127039
126940
126939
126687
127850
120674
122644
122639
120754
120751
120749
120746
120743
120735
120733
120731
120728
120726
120724
120722
120760
120718
120715
120711
120705
120702
120700
120692
120689
120688
120685
120684
120682
120679
120716
122640
120762
120766
122612
122389
122387
121366
121280
121279
121146
121109
120847
120843
120841
120834
120764
120833
120826
120823
120821
120819
120795
120792
120785
120784
120782
120780
120779
120771
120828
138456
139430
138472
147409
147407
147406
147405
147382
147377
147372
147371
147346
147345
147311
147307
147306
147303
147269
147266
147214
147213
147206
147203
147184
147183
147157
147153
147131
147425
147129
147440
147446
147606
147600
147593
147590
147587
147584
147579
147568
147567
147544
147541
147530
147496
147494
147492
147490
147483
147482
147481
147479
147477
147473
147454
147450
147447
147445
147125
147124
147113
146514
146513
146457
146456
146409
146407
146402
146398
146388
146381
146380
146379
146376
146349
146346
146297
146294
146271
146215
146207
146196
146193
146191
146187
146142
146517
146518
146549
146551
146980
146977
146963
146959
146951
146950
146943
146941
146940
146938
146930
146929
147614
146772
146727
146726
146722
146721
146717
146716
146678
146675
146644
146643
146577
146575
146771
147617
147618
147619
148073
148071
148053
148050
148035
148033
148026
148024
147946
147944
147939
147937
147929
147928
147927
147922
147921
147920
147919
147908
147907
147906
147890
147889
147883
148159
148161
148173
148360
148466
148461
148459
148457
148456
148455
148454
148450
148446
148419
148416
148415
147878
148414
148411
148409
148408
148405
148404
148401
148400
148382
148381
148365
148363
148361
148413
146141
147867
147857
147748
147739
147736
147735
147734
147731
147727
147724
147714
147713
147704
147701
147666
147665
147662
147661
147636
147635
147626
147625
147624
147623
147622
147621
147620
147750
147757
147760
147770
147854
147851
147850
147849
147848
147846
147844
147843
147840
147837
147836
147832
147864
147830
147826
147825
147823
147797
147796
147795
147794
147789
147787
147779
147778
147772
147828
146130
146127
146075
141644
141642
141596
141593
141588
141545
141475
141462
141248
141247
141226
141224
141072
141070
141068
141064
141063
141061
141006
141004
140771
140769
140620
140613
140609
141665
141808
141812
141813
143351
143341
143340
143247
143241
143239
143163
143162
142642
142641
142283
142282
140603
142110
142038
142035
141957
141927
141925
141920
141919
141877
141875
141862
141841
141839
142109
143353
140461
140453
139872
139870
139840
139839
139783
139781
139581
139529
139527
139519
139455
120043
139367
139259
139257
139224
139221
138905
138898
138876
138875
138566
138564
138528
138523
139969
139971
140084
140085
140452
140447
140444
140386
140385
140382
140381
140355
140353
140351
140347
140298
140460
140297
140283
140237
140229
140228
140225
140175
140172
140102
140095
140094
140089
140087
140286
138470
143464
143494
145551
145536
145535
145486
145481
145478
145475
145473
145471
145456
145454
145396
145387
145378
145376
145356
145355
145295
145287
145228
145227
145208
145206
145139
145137
145552
145589
145590
145599
146070
146010
146007
145954
145952
145897
145896
145895
145890
145881
145820
145819
145112
145811
145801
145750
145747
145724
145723
145695
145693
145678
145677
145648
145633
145605
145810
143493
145110
145075
144393
144345
144339
144335
144333
144312
144310
144173
144171
143904
143903
143874
143873
143793
143787
143785
143783
143704
143702
143620
143614
143612
143537
143536
143508
144394
144401
144403
144453
145050
145042
145040
145034
144947
144916
144905
144902
144838
144835
144759
144754
145077
144730
144646
144644
144636
144634
144587
144548
144546
144490
144484
144466
144461
144455
144681
120035
148468
112429
107247
106979
106929
106876
106873
106871
106841
106823
106796
106793
106737
107288
106736
106624
106425
106384
106317
106235
106231
106227
106212
106177
106170
106166
106654
107328
107353
107410
108753
108728
108690
108632
108596
108594
108592
108545
108511
108479
108466
108378
108273
108249
108167
100356
100363
107988
107763
107745
107705
107693
107578
107524
107477
106144
106096
105989
105968
104486
104481
104457
104350
104138
104075
103819
103780
100365
103678
103633
103504
103490
103476
103408
103407
103397
103390
103360
100369
103340
103339
103335
103312
103309
104488
108756
104513
104636
105875
105823
105817
105804
105758
105669
105628
105603
105564
105563
105503
105460
105417
105280
105189
105185
105001
104908
104772
104728
104726
104707
104685
104683
104637
104523
103234
108765
108799
120034
112423
112422
112410
112408
112368
112359
112354
112353
100317
100319
112457
112351
112332
112329
112327
112323
112304
112277
112214
112210
112171
112152
112123
112342
112487
112496
112600
113077
113076
113070
113069
113064
113063
113047
113036
112957
112948
112943
112938
112936
112932
112924
112901
112877
100313
100315
112868
112721
112717
112713
112636
112632
112120
112117
112108
112098
111585
111569
111549
111525
111524
111381
111349
110603
109830
109740
109724
109721
109720
109522
109445
109371
100352
109275
109269
100354
109059
109010
108995
108909
108845
100349
108768
111599
111646
112096
112092
112090
112088
112077
112039
112029
112016
112014
111987
111962
111958
111957
111954
111940
111848
111803
111787
111777
111753
111748
111722
111712
111710
100323
111638
113096
100377
103196
101563
100493
100496
101548
100499
100520
101539
101537
100526
100528
101525
101585
101498
100538
101491
101465
100550
101373
101357
101349
101317
101316
101314
101304
100536
101588
101592
101594
101862
101853
101844
101837
101830
101824
101818
101806
101802
101766
101764
101762
101758
101746
101738
101705
101703
101685
101672
101665
101659
101656
101635
101619
101599
101281
101271
101265
101262
100851
100837
100835
100822
100821
100814
100807
100795
100789
100784
100781
100741
100740
100723
100684
100682
100678
100669
100664
100651
100646
100641
100639
100631
100618
100856
101869
100865
100601
101232
101228
101209
101206
101201
101199
101187
100597
101169
101161
101144
101127
101083
101072
101070
101065
101048
101042
101002
101001
100998
100968
100967
100948
100900
100868
103215
100484
101872
102885
100418
100471
102883
102875
102849
102846
102823
102807
102767
102760
102913
102756
102741
102722
102673
102672
102661
102594
102591
102574
102547
102544
102540
102751
102920
100415
100414
103192
103178
103176
103174
103168
103166
103159
103155
103151
103149
103145
103131
103111
103098
103085
103048
100380
103040
103034
103026
103024
103006
100387
102948
102941
102535
102532
102528
102512
102133
102114
102112
102109
102108
102107
100473
100475
102053
102020
102012
102000
101996
101993
101989
101979
101976
100476
100477
101971
101922
101912
101909
101906
101893
102135
100480
102137
102141
102510
102505
102503
102452
102448
102443
102442
102434
102431
102414
102401
102398
102395
102394
102337
102330
102328
102272
102267
102262
102252
102205
102172
102147
102142
102139
113099
113135
113142
100175
119367
119364
119354
119351
119350
119347
119341
119337
119333
119326
119379
119312
119308
119307
100177
119298
119292
119291
119288
119287
119283
119256
119255
119311
119382
119389
119392
119484
119482
119474
119472
100153
119464
119462
119457
119452
119448
119441
119438
119436
119431
119428
119425
119424
119417
100156
119413
119410
119404
119400
119397
119393
119251
100219
119250
119247
119097
119096
100223
119092
119091
100234
119082
119081
119076
119075
119071
119069
119066
119065
119063
119062
119060
119053
119019
119018
119016
118994
118989
118987
118979
119099
119486
119106
119116
119243
119242
119239
119231
119226
119218
119212
119205
119202
119186
119178
119176
119172
119164
119160
119156
119148
119135
119133
119132
119131
119128
119127
100221
119118
119110
118968
119488
119498
119807
119802
119800
119798
119795
119790
119788
119786
119783
119781
119777
119809
119775
119771
119769
119766
119759
119757
119755
119750
119746
119741
119739
119735
119773
119812
119816
119821
120030
120008
120002
119992
119988
119984
119960
119953
119949
119893
119876
119863
119861
119856
119852
119849
119844
119843
119839
119835
119833
119828
119827
119824
100124
119732
119727
119723
119721
119589
119581
119578
119576
119574
119568
119566
119564
119556
119550
119549
119544
119542
119539
119533
119528
119526
119523
119518
119517
119514
119511
119507
119505
119501
119591
119489
119595
119598
119719
119718
119716
119714
119711
119709
119707
119705
119700
119686
119680
119675
119671
119664
119661
119659
119657
119648
119646
119635
119625
119621
119620
119609
119605
119597
118961
118955
118950
118053
118049
118047
118043
118030
117981
117960
117957
117951
117716
117714
118058
117631
117560
117549
117446
117312
117311
116894
116811
116796
116583
116555
116547
117608
118069
118078
118102
118348
118347
118345
118344
118343
118341
118320
118317
118309
100265
118299
118291
118285
118284
118282
118278
118275
118273
118272
118269
118267
118232
118194
118191
118133
116485
116471
116299
116153
114616
114564
114458
114456
114359
114301
114239
114216
113566
113560
113547
113544
113526
113476
113463
113460
113434
113345
113327
113296
113269
113251
113249
113221
113177
114758
118349
114855
114931
116077
116051
115991
115944
115943
115939
115934
115897
115887
115833
115790
115676
115512
100299
115284
115270
115132
115127
115116
115092
115077
115068
115005
114984
114982
114859
118350
118364
118371
118759
118747
118741
118736
118726
118724
118719
118709
118701
118692
118687
118678
118674
118673
118672
118668
118663
118656
118650
118632
118624
118620
118617
118615
118589
118763
118585
118769
118780
118942
118935
118931
118929
118924
100254
118883
118881
118879
118876
118872
118870
118868
118866
118859
118840
118837
118834
118825
118814
118803
118796
118794
118791
118784
118778
100617
118581
118574
118494
118491
118489
118486
118485
118482
118481
118479
118477
118474
118473
118469
118464
118454
118452
118424
118421
118419
118416
118410
118407
118401
118394
118387
118384
118495
118577
118498
118508
118569
118565
118564
118560
118559
118557
118554
118553
118548
118546
118543
118540
118539
118535
118533
118531
118530
118527
118525
118519
118518
118516
118514
118512
118510
118506
100603
120038
101185
141066
103734
118907
120249
140182
147287
147290
147515
140196
147570
147569
147519
100898
119468
100058
100033
139538
139537
115398
118305
125345
119303
119369
100038
100119
100042
100084
100081
100078
100064
100047
125259
100087
109353
109254
143260
143269
147565
147564
147534
147531
147936
147003
145968
145971
146997
147951
146062
146061
120837
119125
145946
145834
103225
103347
119415
147193
147196
101408
111704

In [ ]:
  for df in data:
    print(df)
    rollingdf = pd.DataFrame()
    fund_codes = []
    rolling = []
    start_dates = []
    start_values = []
    end_dates = []
    end_values = []
    changes = []
    for rol in [1]:
        for j in df.index:
    #       if j != old_last_date:
            nx_date = j - relativedelta(years=rol)
            d=0
            while d <= 7:
                try:
                    next_date = nx_date - datetime.timedelta(days=d)
                    present_val =float(df.loc[next_date]['nav'])
                    start_values.append(present_val)
                    next_val =float(df.loc[j]['nav'])
                    end_values.append(next_val)
                    change = round((((((next_val/present_val)) ** (1/rol)) - 1) * 100),2)
                    start_dates.append(next_date)
                    end_dates.append(j)
                    rolling.append(rol)
                    changes.append(change)
                    code = df.loc[next_date]['code']
                    fund_codes.append(code)
                    break
                except:
                    d += 1
     
    rollingdf['code'] = pd.Series(fund_codes)
    rollingdf['rolling'] = pd.Series(rolling)
    rollingdf['start_dates'] = pd.Series(start_dates)
    rollingdf['start_values'] = pd.Series(start_values)
    rollingdf['end_dates'] = pd.Series(end_dates)
    rollingdf['end_values'] = pd.Series(end_values)
    rollingdf['change'] = pd.Series(changes)
    print(rollingdf)
    # # rollingdf = rollingdf[1:]
    # rollingdf = rollingdf.set_index('start_dates')\
    #create Engine
    engine = create_engine(
    'mysql+pymysql://admin:iNVESTT1729@investtrestore.cvmmgrjdemrn.ap-south-1.rds.amazonaws.com:3306/fund_database')
    # Save the rollingdf to an Excel file
    # file_path = 'rolling_data.xlsx'  # Modify the file path as needed
    # with pd.ExcelWriter(file_path, mode='a', engine='openpyxl') as writer:
    #     rollingdf.to_excel(writer, sheet_name='Sheet1', header=False, index=False)

    # print("Data saved to Excel file:", file_path)


    rollingdf.to_sql('fundrolling1', con=engine, if_exists='append',index=False)
    
    # rollingdf.to_excel('rolling3.xlsx', header=False, index=False)
    # print("Time: ", time.time()-stime)

Streaming output truncated to the last 5000 lines.
date
2020-09-03  24.8484  118780
2020-09-04  24.8652  118780
2020-09-07  24.8746  118780
2020-09-08  24.8615  118780
2020-09-09  24.8681  118780
...             ...     ...
2023-04-17  31.6772  118780
2023-04-18  31.6820  118780
2023-04-19  31.6857  118780
2023-04-20  31.7029  118780
2023-04-21  31.7110  118780

[639 rows x 2 columns]
         code  rolling start_dates  start_values  end_dates  end_values  \
0    118780.0        1  2020-09-03       24.8484 2021-09-03     28.9156
1    118780.0        1  2020-09-04       24.8652 2021-09-06     28.9291
2    118780.0        1  2020-09-07       24.8746 2021-09-07     28.9269
3    118780.0        1  2020-09-08       24.8615 2021-09-08     28.9396
4    118780.0        1  2020-09-09       24.8681 2021-09-09     28.9478
..        ...      ...         ...           ...        ...         ...
391  118780.0        1  2022-04-13       29.7471 2023-04-17     31.6772
392  118780.0        1  2022-04-18       29.7697 2023-04-18     31.6820
393  118780.0        1  2022-04-19       29.7904 2023-04-19     31.6857
394  118780.0        1  2022-04-20       29.7968 2023-04-20     31.7029
395  118780.0        1  2022-04-21       29.8023 2023-04-21     31.7110

     change
0     16.37
1     16.34
2     16.29
3     16.40
4     16.41
..      ...
391    6.49
392    6.42
393    6.36
394    6.40
395    6.40

[396 rows x 7 columns]
                nav    code
date
2020-09-03  46.1118  118942
2020-09-04  46.1243  118942
2020-09-07  46.1229  118942
2020-09-08  46.0892  118942
2020-09-09  46.1005  118942
...             ...     ...
2023-04-17  52.7664  118942
2023-04-18  52.7845  118942
2023-04-19  52.8027  118942
2023-04-20  52.8196  118942
2023-04-21  52.8293  118942

[639 rows x 2 columns]
         code  rolling start_dates  start_values  end_dates  end_values  \
0    118942.0        1  2020-09-03       46.1118 2021-09-03     48.7382
1    118942.0        1  2020-09-04       46.1243 2021-09-06     48.7549
2    118942.0        1  2020-09-07       46.1229 2021-09-07     48.7594
3    118942.0        1  2020-09-08       46.0892 2021-09-08     48.7637
4    118942.0        1  2020-09-09       46.1005 2021-09-09     48.7761
..        ...      ...         ...           ...        ...         ...
391  118942.0        1  2022-04-13       49.7693 2023-04-17     52.7664
392  118942.0        1  2022-04-18       49.8072 2023-04-18     52.7845
393  118942.0        1  2022-04-19       49.8180 2023-04-19     52.8027
394  118942.0        1  2022-04-20       49.8266 2023-04-20     52.8196
395  118942.0        1  2022-04-21       49.8367 2023-04-21     52.8293

     change
0      5.70
1      5.70
2      5.72
3      5.80
4      5.80
..      ...
391    6.02
392    5.98
393    5.99
394    6.01
395    6.00

[396 rows x 7 columns]
                nav    code
date
2020-09-03  288.922  118935
2020-09-04  283.973  118935
2020-09-07  282.968  118935
2020-09-08  281.621  118935
2020-09-09  280.609  118935
...             ...     ...
2023-04-17  482.083  118935
2023-04-18  481.915  118935
2023-04-19  479.692  118935
2023-04-20  481.414  118935
2023-04-21  479.982  118935

[649 rows x 2 columns]
         code  rolling start_dates  start_values  end_dates  end_values  \
0    118935.0        1  2020-09-03       288.922 2021-09-03     455.651
1    118935.0        1  2020-09-04       283.973 2021-09-06     456.986
2    118935.0        1  2020-09-07       282.968 2021-09-07     455.036
3    118935.0        1  2020-09-08       281.621 2021-09-08     455.356
4    118935.0        1  2020-09-09       280.609 2021-09-09     455.875
..        ...      ...         ...           ...        ...         ...
397  118935.0        1  2022-04-13       475.681 2023-04-17     482.083
398  118935.0        1  2022-04-18       469.555 2023-04-18     481.915
399  118935.0        1  2022-04-19       463.089 2023-04-19     479.692
400  118935.0        1  2022-04-20       466.009 2023-04-20     481.414
401  118935.0        1  2022-04-21       470.394 2023-04-21     479.982

     change
0     57.71
1     60.93
2     60.81
3     61.69
4     62.46
..      ...
397    1.35
398    2.63
399    3.59
400    3.31
401    2.04

[402 rows x 7 columns]
               nav    code
date
2020-09-03  23.891  118931
2020-09-04  23.900  118931
2020-09-07  23.907  118931
2020-09-08  23.935  118931
2020-09-09  23.899  118931
...            ...     ...
2023-04-17  27.010  118931
2023-04-18  27.029  118931
2023-04-19  27.041  118931
2023-04-20  27.036  118931
2023-04-21  27.045  118931

[649 rows x 2 columns]
         code  rolling start_dates  start_values  end_dates  end_values  \
0    118931.0        1  2020-09-03        23.891 2021-09-03      24.979
1    118931.0        1  2020-09-04        23.900 2021-09-06      24.974
2    118931.0        1  2020-09-07        23.907 2021-09-07      24.987
3    118931.0        1  2020-09-08        23.935 2021-09-08      24.989
4    118931.0        1  2020-09-09        23.899 2021-09-09      24.997
..        ...      ...         ...           ...        ...         ...
397  118931.0        1  2022-04-13        25.531 2023-04-17      27.010
398  118931.0        1  2022-04-18        25.527 2023-04-18      27.029
399  118931.0        1  2022-04-19        25.576 2023-04-19      27.041
400  118931.0        1  2022-04-20        25.555 2023-04-20      27.036
401  118931.0        1  2022-04-21        25.553 2023-04-21      27.045

     change
0      4.55
1      4.49
2      4.52
3      4.40
4      4.59
..      ...
397    5.79
398    5.88
399    5.73
400    5.80
401    5.84

[402 rows x 7 columns]
                nav    code
date
2020-09-03  363.182  118929
2020-09-04  356.696  118929
2020-09-07  356.764  118929
2020-09-08  356.276  118929
2020-09-09  353.904  118929
...             ...     ...
2022-01-10  616.290  118929
2022-01-11  616.669  118929
2022-01-12  621.663  118929
2022-01-13  625.086  118929
2022-01-14  625.385  118929

[338 rows x 2 columns]
        code  rolling start_dates  start_values  end_dates  end_values  change
0   118929.0        1  2020-09-03       363.182 2021-09-03     574.979   58.32
1   118929.0        1  2020-09-04       356.696 2021-09-06     575.210   61.26
2   118929.0        1  2020-09-07       356.764 2021-09-07     573.725   60.81
3   118929.0        1  2020-09-08       356.276 2021-09-08     575.370   61.50
4   118929.0        1  2020-09-09       353.904 2021-09-09     578.460   63.45
..       ...      ...         ...           ...        ...         ...     ...
86  118929.0        1  2021-01-08       449.303 2022-01-10     616.290   37.17
87  118929.0        1  2021-01-11       451.737 2022-01-11     616.669   36.51
88  118929.0        1  2021-01-12       456.683 2022-01-12     621.663   36.13
89  118929.0        1  2021-01-13       457.685 2022-01-13     625.086   36.58
90  118929.0        1  2021-01-14       459.619 2022-01-14     625.385   36.07

[91 rows x 7 columns]
                nav    code
date
2020-09-03  65.0400  118924
2020-09-04  64.9535  118924
2020-09-07  64.8559  118924
2020-09-08  64.7051  118924
2020-09-09  64.7522  118924
...             ...     ...
2023-04-17  72.7861  118924
2023-04-18  72.7886  118924
2023-04-19  72.8298  118924
2023-04-20  72.8636  118924
2023-04-21  72.9067  118924

[640 rows x 2 columns]
         code  rolling start_dates  start_values  end_dates  end_values  \
0    118924.0        1  2020-09-03       65.0400 2021-09-03     68.2090
1    118924.0        1  2020-09-04       64.9535 2021-09-06     68.2002
2    118924.0        1  2020-09-07       64.8559 2021-09-07     68.1840
3    118924.0        1  2020-09-08       64.7051 2021-09-08     68.2307
4    118924.0        1  2020-09-09       64.7522 2021-09-09     68.2320
..        ...      ...         ...           ...        ...         ...
392  118924.0        1  2022-04-13       68.8572 2023-04-17     72.7861
393  118924.0        1  2022-04-18       68.9470 2023-04-18     72.7886
394  118924.0        1  2022-04-19       69.0067 2023-04-19     72.8298
395  118924.0        1  2022-04-20       69.0458 2023-04-20     72.8636
396  118924.0        1  2022-04-21       69.0345 2023-04-21     72.9067

     change
0      4.87
1      5.00
2      5.13
3      5.45
4      5.37
..      ...
392    5.71
393    5.57
394    5.54
395    5.53
396    5.61

[397 rows x 7 columns]
                nav    code
date
2020-09-03  31.2304  100254
2020-09-04  30.8777  100254
2020-09-07  30.7562  100254
2020-09-08  30.4576  100254
2020-09-09  30.2094  100254
...             ...     ...
2023-04-17  54.5267  100254
2023-04-18  54.5394  100254
2023-04-19  54.4889  100254
2023-04-20  54.6413  100254
2023-04-21  54.3982  100254

[649 rows x 2 columns]
         code  rolling start_dates  start_values  end_dates  end_values  \
0    100254.0        1  2020-09-03       31.2304 2021-09-03     49.9616
1    100254.0        1  2020-09-04       30.8777 2021-09-06     50.1074
2    100254.0        1  2020-09-07       30.7562 2021-09-07     50.0106
3    100254.0        1  2020-09-08       30.4576 2021-09-08     50.0773
4    100254.0        1  2020-09-09       30.2094 2021-09-09     50.2407
..        ...      ...         ...           ...        ...         ...
397  100254.0        1  2022-04-13       51.1691 2023-04-17     54.5267
398  100254.0        1  2022-04-18       50.2735 2023-04-18     54.5394
399  100254.0        1  2022-04-19       49.6433 2023-04-19     54.4889
400  100254.0        1  2022-04-20       49.7544 2023-04-20     54.6413
401  100254.0        1  2022-04-21       50.2310 2023-04-21     54.3982

     change
0     59.98
1     62.28
2     62.60
3     64.42
4     66.31
..      ...
397    6.56
398    8.49
399    9.76
400    9.82
401    8.30

[402 rows x 7 columns]
               nav    code
date
2020-09-03  106.31  118883
2020-09-04  104.61  118883
2020-09-07  104.72  118883
2020-09-08  104.43  118883
2020-09-09  104.18  118883
...            ...     ...
2023-04-17  155.46  118883
2023-04-18  155.01  118883
2023-04-19  155.07  118883
2023-04-20  154.63  118883
2023-04-21  153.62  118883

[649 rows x 2 columns]
         code  rolling start_dates  start_values  end_dates  end_values  \
0    118883.0        1  2020-09-03        106.31 2021-09-03      153.25
1    118883.0        1  2020-09-04        104.61 2021-09-06      153.70
2    118883.0        1  2020-09-07        104.72 2021-09-07      153.48
3    118883.0        1  2020-09-08        104.43 2021-09-08      153.79
4    118883.0        1  2020-09-09        104.18 2021-09-09      154.11
..        ...      ...         ...           ...        ...         ...
397  118883.0        1  2022-04-13        159.57 2023-04-17      155.46
398  118883.0        1  2022-04-18        157.30 2023-04-18      155.01
399  118883.0        1  2022-04-19        156.10 2023-04-19      155.07
400  118883.0        1  2022-04-20        156.46 2023-04-20      154.63
401  118883.0        1  2022-04-21        158.70 2023-04-21      153.62

     change
0     44.15
1     46.93
2     46.56
3     47.27
4     47.93
..      ...
397   -2.58
398   -1.46
399   -0.66
400   -1.17
401   -3.20

[402 rows x 7 columns]
                nav    code
date
2020-09-03  22.7594  118881
2020-09-04  22.3862  118881
2020-09-07  22.4110  118881
2020-09-08  22.3465  118881
2020-09-09  22.2988  118881
...             ...     ...
2023-04-17  35.7137  118881
2023-04-18  35.6228  118881
2023-04-19  35.5411  118881
2023-04-20  35.5511  118881
2023-04-21  35.5511  118881

[649 rows x 2 columns]
         code  rolling start_dates  start_values  end_dates  end_values  \
0    118881.0        1  2020-09-03       22.7594 2021-09-03     34.6757
1    118881.0        1  2020-09-04       22.3862 2021-09-06     34.7825
2    118881.0        1  2020-09-07       22.4110 2021-09-07     34.7553
3    118881.0        1  2020-09-08       22.3465 2021-09-08     34.7366
4    118881.0        1  2020-09-09       22.2988 2021-09-09     34.7735
..        ...      ...         ...           ...        ...         ...
397  118881.0        1  2022-04-13       34.8928 2023-04-17     35.7137
398  118881.0        1  2022-04-18       34.3215 2023-04-18     35.6228
399  118881.0        1  2022-04-19       33.9040 2023-04-19     35.5411
400  118881.0        1  2022-04-20       34.2344 2023-04-20     35.5511
401  118881.0        1  2022-04-21       34.7270 2023-04-21     35.5511

     change
0     52.36
1     55.37
2     55.08
3     55.45
4     55.94
..      ...
397    2.35
398    3.79
399    4.83
400    3.85
401    2.37

[402 rows x 7 columns]
              nav    code
date
2020-09-03  25.45  118879
2020-09-04  25.06  118879
2020-09-07  24.93  118879
2020-09-08  24.73  118879
2020-09-09  24.69  118879
...           ...     ...
2023-04-17  41.97  118879
2023-04-18  41.98  118879
2023-04-19  41.97  118879
2023-04-20  41.93  118879
2023-04-21  41.63  118879

[649 rows x 2 columns]
         code  rolling start_dates  start_values  end_dates  end_values  \
0    118879.0        1  2020-09-03         25.45 2021-09-03       40.19
1    118879.0        1  2020-09-04         25.06 2021-09-06       40.33
2    118879.0        1  2020-09-07         24.93 2021-09-07       40.43
3    118879.0        1  2020-09-08         24.73 2021-09-08       40.54
4    118879.0        1  2020-09-09         24.69 2021-09-09       40.69
..        ...      ...         ...           ...        ...         ...
397  118879.0        1  2022-04-13         42.71 2023-04-17       41.97
398  118879.0        1  2022-04-18         42.30 2023-04-18       41.98
399  118879.0        1  2022-04-19         42.07 2023-04-19       41.97
400  118879.0        1  2022-04-20         42.39 2023-04-20       41.93
401  118879.0        1  2022-04-21         42.71 2023-04-21       41.63

     change
0     57.92
1     60.93
2     62.17
3     63.93
4     64.80
..      ...
397   -1.73
398   -0.76
399   -0.24
400   -1.09
401   -2.53

[402 rows x 7 columns]
              nav    code
date
2020-09-03  61.82  118876
2020-09-04  61.00  118876
2020-09-07  61.02  118876
2020-09-08  60.75  118876
2020-09-09  60.64  118876
...           ...     ...
2023-04-17  87.48  118876
2023-04-18  87.77  118876
2023-04-19  87.33  118876
2023-04-20  87.26  118876
2023-04-21  87.22  118876

[649 rows x 2 columns]
         code  rolling start_dates  start_values  end_dates  end_values  \
0    118876.0        1  2020-09-03         61.82 2021-09-03       91.53
1    118876.0        1  2020-09-04         61.00 2021-09-06       91.85
2    118876.0        1  2020-09-07         61.02 2021-09-07       91.58
3    118876.0        1  2020-09-08         60.75 2021-09-08       91.63
4    118876.0        1  2020-09-09         60.64 2021-09-09       91.88
..        ...      ...         ...           ...        ...         ...
397  118876.0        1  2022-04-13         93.27 2023-04-17       87.48
398  118876.0        1  2022-04-18         92.10 2023-04-18       87.77
399  118876.0        1  2022-04-19         91.20 2023-04-19       87.33
400  118876.0        1  2022-04-20         92.00 2023-04-20       87.26
401  118876.0        1  2022-04-21         93.18 2023-04-21       87.22

     change
0     48.06
1     50.57
2     50.08
3     50.83
4     51.52
..      ...
397   -6.21
398   -4.70
399   -4.24
400   -5.15
401   -6.40

[402 rows x 7 columns]
              nav    code
date
2020-09-03  49.65  118872
2020-09-04  48.88  118872
2020-09-07  48.57  118872
2020-09-08  48.14  118872
2020-09-09  47.96  118872
...           ...     ...
2023-04-17  78.26  118872
2023-04-18  79.01  118872
2023-04-19  79.02  118872
2023-04-20  79.06  118872
2023-04-21  78.44  118872

[649 rows x 2 columns]
         code  rolling start_dates  start_values  end_dates  end_values  \
0    118872.0        1  2020-09-03         49.65 2021-09-03       74.96
1    118872.0        1  2020-09-04         48.88 2021-09-06       75.21
2    118872.0        1  2020-09-07         48.57 2021-09-07       74.93
3    118872.0        1  2020-09-08         48.14 2021-09-08       75.16
4    118872.0        1  2020-09-09         47.96 2021-09-09       75.37
..        ...      ...         ...           ...        ...         ...
397  118872.0        1  2022-04-13         79.05 2023-04-17       78.26
398  118872.0        1  2022-04-18         78.33 2023-04-18       79.01
399  118872.0        1  2022-04-19         77.74 2023-04-19       79.02
400  118872.0        1  2022-04-20         77.71 2023-04-20       79.06
401  118872.0        1  2022-04-21         78.73 2023-04-21       78.44

     change
0     50.98
1     53.87
2     54.27
3     56.13
4     57.15
..      ...
397   -1.00
398    0.87
399    1.65
400    1.74
401   -0.37

[402 rows x 7 columns]
               nav    code
date
2020-09-03   75.56  118870
2020-09-04   74.39  118870
2020-09-07   74.58  118870
2020-09-08   74.42  118870
2020-09-09   74.34  118870
...            ...     ...
2023-04-17  108.65  118870
2023-04-18  108.59  118870
2023-04-19  108.43  118870
2023-04-20  108.21  118870
2023-04-21  107.69  118870

[649 rows x 2 columns]
         code  rolling start_dates  start_values  end_dates  end_values  \
0    118870.0        1  2020-09-03         75.56 2021-09-03      108.14
1    118870.0        1  2020-09-04         74.39 2021-09-06      108.33
2    118870.0        1  2020-09-07         74.58 2021-09-07      108.02
3    118870.0        1  2020-09-08         74.42 2021-09-08      108.33
4    118870.0        1  2020-09-09         74.34 2021-09-09      108.46
..        ...      ...         ...           ...        ...         ...
397  118870.0        1  2022-04-13        110.61 2023-04-17      108.65
398  118870.0        1  2022-04-18        109.25 2023-04-18      108.59
399  118870.0        1  2022-04-19        107.80 2023-04-19      108.43
400  118870.0        1  2022-04-20        108.19 2023-04-20      108.21
401  118870.0        1  2022-04-21        110.01 2023-04-21      107.69

     change
0     43.12
1     45.62
2     44.84
3     45.57
4     45.90
..      ...
397   -1.77
398   -0.60
399    0.58
400    0.02
401   -2.11

[402 rows x 7 columns]
              nav    code
date
2020-09-03  24.75  118868
2020-09-04  24.29  118868
2020-09-07  24.19  118868
2020-09-08  24.06  118868
2020-09-09  23.66  118868
...           ...     ...
2023-04-17  41.78  118868
2023-04-18  41.80  118868
2023-04-19  41.69  118868
2023-04-20  41.76  118868
2023-04-21  41.65  118868

[649 rows x 2 columns]
         code  rolling start_dates  start_values  end_dates  end_values  \
0    118868.0        1  2020-09-03         24.75 2021-09-03       37.47
1    118868.0        1  2020-09-04         24.29 2021-09-06       37.34
2    118868.0        1  2020-09-07         24.19 2021-09-07       37.29
3    118868.0        1  2020-09-08         24.06 2021-09-08       37.57
4    118868.0        1  2020-09-09         23.66 2021-09-09       37.48
..        ...      ...         ...           ...        ...         ...
397  118868.0        1  2022-04-13         37.38 2023-04-17       41.78
398  118868.0        1  2022-04-18         36.63 2023-04-18       41.80
399  118868.0        1  2022-04-19         36.26 2023-04-19       41.69
400  118868.0        1  2022-04-20         36.11 2023-04-20       41.76
401  118868.0        1  2022-04-21         36.69 2023-04-21       41.65

     change
0     51.39
1     53.73
2     54.15
3     56.15
4     58.41
..      ...
397   11.77
398   14.11
399   14.98
400   15.65
401   13.52

[402 rows x 7 columns]
               nav    code
date
2020-09-03   83.66  118866
2020-09-04   82.25  118866
2020-09-07   82.28  118866
2020-09-08   81.95  118866
2020-09-09   81.77  118866
...            ...     ...
2023-04-17  127.90  118866
2023-04-18  128.32  118866
2023-04-19  127.77  118866
2023-04-20  127.72  118866
2023-04-21  127.84  118866

[649 rows x 2 columns]
         code  rolling start_dates  start_values  end_dates  end_values  \
0    118866.0        1  2020-09-03         83.66 2021-09-03      119.59

In [ ]:
for df in data:
    print(df)
    rollingdf = pd.DataFrame()
    fund_codes = []
    rolling = []
    start_dates = []
    start_values = []
    end_dates = []
    end_values = []
    changes = []
    for rol in [3]:
        for j in df.index:
            nx_date = j - relativedelta(years=rol)
            d = 0
            while d <= 7:
                try:
                    next_date = nx_date - datetime.timedelta(days=d)
                    present_val = float(df.loc[next_date]['nav'])
                    start_values.append(present_val)
                    next_val = float(df.loc[j]['nav'])
                    end_values.append(next_val)
                    change = round((((next_val / present_val) ** (1 / rol)) - 1) * 100, 2)
                    start_dates.append(next_date)
                    end_dates.append(j)
                    rolling.append(rol)
                    changes.append(change)
                    code = df.loc[next_date]['code']
                    fund_codes.append(code)
                    break
                except:
                    d += 1
     
    rollingdf['code'] = pd.Series(fund_codes)
    rollingdf['rolling'] = pd.Series(rolling)
    rollingdf['start_dates'] = pd.Series(start_dates)
    rollingdf['start_values'] = pd.Series(start_values)
    rollingdf['end_dates'] = pd.Series(end_dates)
    rollingdf['end_values'] = pd.Series(end_values)
    rollingdf['change'] = pd.Series(changes)
    print(rollingdf)
    
    # # Save the rollingdf to an Excel file
    # with pd.ExcelWriter(r'C:\Users\Dell\Documents\fundrolling3.xlsx', mode='a', engine='openpyxl') as writer:
    #     rollingdf.to_excel(writer, sheet_name='rolling3', header=False, index=False)
    with pd.ExcelWriter('fundrolling3.xlsx', mode='a', engine='openpyxl') as writer:
      rollingdf.to_excel(writer, sheet_name='rolling3', header=False, index=False)

    # # Save the rollingdf to MySQL database
    # engine = create_engine('mysql+pymysql://username:password@hostname:port/database')
    # rollingdf.to_sql('fundrolling3', con=engine, if_exists='append', index=False)

print("Data saved to Excel file.")

                nav    code
date
2009-12-28  14.0360  101699
2009-12-29  14.0372  101699
2009-12-30  14.0384  101699
2009-12-31  14.0397  101699
2010-01-01  14.0409  101699
...             ...     ...
2012-12-24  11.4360  101699
2012-12-25  11.4387  101699
2012-12-26  11.4413  101699
2012-12-27  11.4440  101699
2012-12-28  11.4467  101699

[915 rows x 2 columns]
       code  rolling start_dates  start_values  end_dates  end_values  change
0  101699.0        3  2009-12-28        14.036 2012-12-28     11.4467   -6.57

FileNotFoundError: ignored

In [ ]:
# for df in data:
#     print(df)
#     rollingdf = pd.DataFrame()
#     rolling = []
#     start_dates = []
#     start_values = []
#     end_dates = []
#     end_values = []
#     changes = []
#     fund_code = []

#     # df['nav'] = df['nav'].replace(to_replace=0, method='ffill')
#     for rol in[3]:
#         # print(rol)
#         for j in df.index:
#     #       if j != old_last_date:
#             # print(j)
#             nx_date = j + relativedelta(years=rol)
#             # print(nx_date)
#             d=0
#             while d <= 7:
#                 try:
#                     end_date = nx_date - datetime.timedelta(days=d)
#                     end_dates.append(end_date)
#                     # print(end_date)
#                     start_dates.append(j)
#                     # start =df.index[0]
#                     # s_year = start.year
#                     # start_year.append(s_year)
#                     # end = df.index[-1]
#                     # e_year = end.year
#                     # end_year.append(e_year)
#                     next_val = float(df.loc[end_date]['nav'])
#                     end_values.append(next_val)
#                     present_val =float(df.loc[j]['nav'])
#                     start_values.append(present_val)
#                     change = round((((((next_val/present_val)) ** (1/rol)) - 1) * 100),2)
#                     code = df.loc[end_date]['code']
#                     rolling.append(rol)
#                     changes.append(change)
#                     fund_code.append(code)
                    
                    
#                     break
#                 except:
#                     d += 1
      
#     rollingdf['code'] = pd.Series(fund_code)
#     rollingdf['rolling'] = pd.Series(rolling)
#     rollingdf['start_dates'] = pd.Series(start_dates)
#     rollingdf['start_values'] = pd.Series(start_values)
#     rollingdf['end_dates'] = pd.Series(end_dates)
#     rollingdf['end_values'] = pd.Series(end_values)
#     rollingdf['change'] = pd.Series(changes)
#     print(rollingdf)
   
#     # engine = create_engine(
#     #    'mysql+pymysql://admin:iNVESTT1729@investtrestore.cvmmgrjdemrn.ap-south-1.rds.amazonaws.com:3306/fund_database')
#     # rollingdf.head(1).to_sql('differencefundrolling', con=engine, if_exists='append',index=False)

                 nav    code
date
2018-09-03  162.4234  102431
2018-09-04  160.1761  102431
2018-09-05  160.9193  102431
2018-09-06  164.3412  102431
2018-09-07  165.8943  102431
...              ...     ...
2023-04-17  278.3078  102431
2023-04-18  281.8310  102431
2023-04-19  282.8084  102431
2023-04-20  280.3331  102431
2023-04-21  281.6008  102431

[1139 rows x 2 columns]
         code  rolling start_dates  start_values  end_dates  end_values  \
0    102431.0        3  2018-09-03      162.4234 2021-09-03    316.3013
1    102431.0        3  2018-09-04      160.1761 2021-09-04    316.3013
2    102431.0        3  2018-09-04      160.9193 2021-09-03    316.3013
3    102431.0        3  2018-09-05      164.3412 2021-09-05    316.0665
4    102431.0        3  2018-09-05      165.8943 2021-09-04    313.5052
..        ...      ...         ...           ...        ...         ...
396  102431.0        3  2019-08-19      180.5985 2022-08-19    281.6008
397  102431.0        3  2019-08-20      180.2039 2022-08-20    281.6008
398  102431.0        3  2019-08-20      181.5887 2022-08-19    281.6008
399  102431.0        3  2019-08-21      182.7718 2022-08-21    281.6008
400  102431.0        3  2019-08-21      179.6276 2022-08-20    281.6008

     change
0     24.88
1     25.46
2     25.27
3     24.36
4     23.63
..      ...
396   15.96
397   16.04
398   15.75
399   15.50
400   16.17

[401 rows x 7 columns]
                 nav    code
date
2018-09-03  115.1798  102414
2018-09-04  112.6699  102414
2018-09-05  112.2397  102414
2018-09-06  113.1498  102414
2018-09-07  113.2393  102414
...              ...     ...
2023-04-17  231.9217  102414
2023-04-18  231.9359  102414
2023-04-19  231.5630  102414
2023-04-20  232.0461  102414
2023-04-21  232.0427  102414

[1139 rows x 2 columns]
         code  rolling start_dates  start_values  end_dates  end_values  \
0    102414.0        3  2018-09-03      115.1798 2021-09-03    187.0955
1    102414.0        3  2018-09-04      112.6699 2021-09-04    187.0955
2    102414.0        3  2018-09-04      112.2397 2021-09-03    187.0955
3    102414.0        3  2018-09-05      113.1498 2021-09-05    187.8570
4    102414.0        3  2018-09-05      113.2393 2021-09-04    188.1685
..        ...      ...         ...           ...        ...         ...
396  102414.0        3  2019-08-19       80.2844 2022-08-19    232.0427
397  102414.0        3  2019-08-20       81.3780 2022-08-20    232.0427
398  102414.0        3  2019-08-20       79.4387 2022-08-19    232.0427
399  102414.0        3  2019-08-21       81.0985 2022-08-21    232.0427
400  102414.0        3  2019-08-21       81.6062 2022-08-20    232.0427

     change
0     17.55
1     18.42
2     18.57
3     18.41
4     18.44
..      ...
396   42.44
397   41.80
398   42.95
399   41.97
400   41.67

[401 rows x 7 columns]
                 nav    code
date
2018-09-03  102.5755  102401
2018-09-04  100.6984  102401
2018-09-05  100.4371  102401
2018-09-06  100.5661  102401
2018-09-07  100.8408  102401
...              ...     ...
2023-04-17  124.4950  102401
2023-04-18  124.3440  102401
2023-04-19  123.9542  102401
2023-04-20  124.1399  102401
2023-04-21  123.8131  102401

[1139 rows x 2 columns]
         code  rolling start_dates  start_values  end_dates  end_values  \
0    102401.0        3  2018-09-03      102.5755 2021-09-03    118.2455
1    102401.0        3  2018-09-04      100.6984 2021-09-04    118.2455
2    102401.0        3  2018-09-04      100.4371 2021-09-03    118.2455
3    102401.0        3  2018-09-05      100.5661 2021-09-05    117.7832
4    102401.0        3  2018-09-05      100.8408 2021-09-04    117.5807
..        ...      ...         ...           ...        ...         ...
396  102401.0        3  2019-08-19       61.8441 2022-08-19    123.8131
397  102401.0        3  2019-08-20       62.9495 2022-08-20    123.8131
398  102401.0        3  2019-08-20       60.2696 2022-08-19    123.8131
399  102401.0        3  2019-08-21       61.7295 2022-08-21    123.8131
400  102401.0        3  2019-08-21       63.9541 2022-08-20    123.8131

     change
0      4.85
1      5.50
2      5.59
3      5.41
4      5.25
..      ...
396   26.03
397   25.29
398   27.12
399   26.11
400   24.63

[401 rows x 7 columns]

In [ ]:
# for df in data:
#   print(df)
#   rollingdf = pd.DataFrame()
#   fund_codes = []
#   rolling = []
#   start_dates = []
#   start_values = []
#   end_dates = []
#   end_values = []
#   changes = []
#   for rol in [3]:
#       for j in df.index:
#   #       if j != old_last_date:
#           nx_date = j - relativedelta(years=rol)
#           d=0
#           while d <= 7:
#               try:
#                   next_date = nx_date - datetime.timedelta(days=d)
#                   present_val = df.loc[next_date]['nav']
#                   next_val = df.loc[j]['nav']
#                   change = round((((((next_val/present_val)) ** (1/rol)) - 1) * 100),2)
#                   start_dates.append(next_date)
#                   start_values.append(present_val)
#                   end_dates.append(j)
#                   end_values.append(next_val)
#                   rolling.append(rol)
#                   changes.append(change)
#                   fund_codes.append(code)
#                   break
#               except:
#                   d += 1
#     # except:
#     #   pass
#   rollingdf['code'] = pd.Series(fund_codes)
#   rollingdf['rolling'] = pd.Series(rolling)
#   rollingdf['start_dates'] = pd.Series(start_dates)
#   rollingdf['start_values'] = pd.Series(start_values)
#   rollingdf['end_dates'] = pd.Series(end_dates)
#   rollingdf['end_values'] = pd.Series(end_values)
#   rollingdf['change'] = pd.Series(changes)
#   print(rollingdf)
#   # # rollingdf = rollingdf[1:]
#   # rollingdf = rollingdf.set_index('start_dates')\
#    #create Engine
#   engine = create_engine(
#   'mysql+pymysql://admin:iNVESTT1729@investtrestore.cvmmgrjdemrn.ap-south-1.rds.amazonaws.com:3306/fund_database')


#   # rollingdf.to_sql('fundrolling3', con=engine, if_exists='append',index=False)
  
#   # rollingdf.to_csv('C:\\Users\\Dell\\Documents\\rolling3.csv', header=False, index=False)
#   # print("Time: ", time.time()-stime)

                nav    code
date
2009-12-28  14.0360  101699
2009-12-29  14.0372  101699
2009-12-30  14.0384  101699
2009-12-31  14.0397  101699
2010-01-01  14.0409  101699
...             ...     ...
2012-12-24  11.4360  101699
2012-12-25  11.4387  101699
2012-12-26  11.4413  101699
2012-12-27  11.4440  101699
2012-12-28  11.4467  101699

[915 rows x 2 columns]
     code  rolling start_dates  start_values  end_dates  end_values  change
0  119303        3  2009-12-28        14.036 2012-12-28     11.4467   -6.57
                  nav    code
date
2013-11-25  1405.5796  109940
2013-11-26  1405.8648  109940
2013-11-27  1406.1497  109940
2013-11-28  1406.4251  109940
2013-11-29  1406.6701  109940
...               ...     ...
2016-11-21  1705.3681  109940
2016-11-22  1705.6061  109940
2016-11-23  1705.8505  109940
2016-11-24  1706.1073  109940
2016-11-25  1706.3476  109940

[903 rows x 2 columns]
     code  rolling start_dates  start_values  end_dates  end_values  change
0  119303        3  2013-11-25     1405.5796 2016-11-25   1706.3476    6.68
                nav    code
date
2018-02-12  26.9238  120845
2018-02-14  26.9347  120845
2018-02-15  26.9398  120845
2018-02-16  26.9444  120845
2018-02-20  26.9620  120845
...             ...     ...
2021-02-08  32.4090  120845
2021-02-09  32.4117  120845
2021-02-10  32.4144  120845
2021-02-11  32.4171  120845
2021-02-12  32.4170  120845

[730 rows x 2 columns]
     code  rolling start_dates  start_values  end_dates  end_values  change
0  119303        3  2018-02-12       26.9238 2021-02-12      32.417    6.38
                nav    code
date
2018-02-12  55.6737  120830
2018-02-14  55.7291  120830
2018-02-15  55.5178  120830
2018-02-16  55.4882  120830
2018-02-20  55.3556  120830
...             ...     ...
2021-02-08  65.4554  120830
2021-02-09  65.4609  120830
2021-02-10  65.4665  120830
2021-02-11  65.4720  120830
2021-02-12  65.4718  120830

[731 rows x 2 columns]
     code  rolling start_dates  start_values  end_dates  end_values  change
0  119303        3  2018-02-12       55.6737 2021-02-12     65.4718    5.55
                  nav    code
date
2018-02-12  2076.7443  140220
2018-02-14  2077.6300  140220
2018-02-15  2077.9111  140220
2018-02-16  2078.2597  140220
2018-02-20  2079.4484  140220
...               ...     ...
2021-02-08  2078.7828  140220
2021-02-09  2079.0469  140220
2021-02-10  2079.4346  140220
2021-02-11  2079.8548  140220
2021-02-12  2079.9246  140220

[729 rows x 2 columns]
     code  rolling start_dates  start_values  end_dates  end_values  change
0  119303        3  2018-02-12     2076.7443 2021-02-12   2079.9246    0.05
              nav    code
date
2018-03-05  16.71  139823
2018-03-06  16.60  139823
2018-03-07  16.49  139823
2018-03-08  16.58  139823
2018-03-09  16.56  139823
...           ...     ...
2021-03-01  21.36  139823
2021-03-02  21.46  139823
2021-03-03  21.77  139823
2021-03-04  21.72  139823
2021-03-05  21.55  139823

[743 rows x 2 columns]
     code  rolling start_dates  start_values  end_dates  end_values  change
0  119303        3  2018-03-05         16.71 2021-03-05       21.55    8.85
                  nav    code
date
2018-03-31  1729.3193  119143
2018-04-03  1730.8257  119143
2018-04-04  1731.1912  119143
2018-04-05  1731.7766  119143
2018-04-06  1732.4123  119143
...               ...     ...
2021-03-24  2100.0231  119143
2021-03-25  2100.1915  119143
2021-03-26  2100.3600  119143
2021-03-30  2100.8815  119143
2021-03-31  2101.7877  119143

[729 rows x 2 columns]
     code  rolling start_dates  start_values  end_dates  end_values  change
0  119303        3  2018-03-31     1729.3193 2021-03-31   2101.7877    6.72
                nav    code
date
2018-03-31  14.4464  121158
2018-04-03  14.4549  121158
2018-04-04  14.4582  121158
2018-04-05  14.4613  121158
2018-04-06  14.4640  121158
...             ...     ...
2021-03-24  17.8545  121158
2021-03-25  17.8556  121158
2021-03-26  17.8567  121158
2021-03-30  17.8611  121158
2021-03-31  17.8687  121158

[729 rows x 2 columns]
     code  rolling start_dates  start_values  end_dates  end_values  change
0  119303        3  2018-03-31       14.4464 2021-03-31     17.8687    7.34
                nav    code
date
2018-03-31  15.1580  121153
2018-04-03  15.1675  121153
2018-04-04  15.1712  121153
2018-04-05  15.1747  121153
2018-04-06  15.1777  121153
...             ...     ...
2021-03-24  19.0387  121153
2021-03-25  19.0401  121153
2021-03-26  19.0415  121153
2021-03-30  19.0473  121153
2021-03-31  19.0556  121153

[729 rows x 2 columns]
     code  rolling start_dates  start_values  end_dates  end_values  change
0  119303        3  2018-03-31        15.158 2021-03-31     19.0556    7.93
                  nav    code
date
2018-03-31  1686.2972  116424
2018-04-03  1687.7106  116424
2018-04-04  1688.0484  116424
2018-04-05  1688.6008  116424
2018-04-06  1689.2022  116424
...               ...     ...
2021-03-24  2020.1617  116424
2021-03-25  2020.2933  116424
2021-03-26  2020.4249  116424
2021-03-30  2020.8023  116424
2021-03-31  2021.6434  116424

[729 rows x 2 columns]
     code  rolling start_dates  start_values  end_dates  end_values  change
0  119303        3  2018-03-31     1686.2972 2021-03-31   2021.6434    6.23
                nav    code
date
2018-05-11  13.2267  133713
2018-05-14  13.2750  133713
2018-05-15  13.1552  133713
2018-05-16  13.2372  133713
2018-05-17  13.2615  133713
...             ...     ...
2021-05-06  18.4786  133713
2021-05-07  18.6749  133713
2021-05-07  18.6749  133713
2021-05-10  18.6169  133713
2021-05-12  18.2020  133713

[692 rows x 2 columns]
     code  rolling start_dates  start_values  end_dates  end_values  change
0  119303        3  2018-05-11       13.2267 2021-05-12      18.202   11.23
                nav    code
date
2018-05-11  13.5321  133714
2018-05-14  13.5822  133714
2018-05-15  13.4600  133714
2018-05-16  13.5441  133714
2018-05-17  13.5692  133714
...             ...     ...
2021-05-06  19.3085  133714
2021-05-07  19.5140  133714
2021-05-07  19.5140  133714
2021-05-10  19.4544  133714
2021-05-12  19.0214  133714

[692 rows x 2 columns]
     code  rolling start_dates  start_values  end_dates  end_values  change
0  119303        3  2018-05-11       13.5321 2021-05-12     19.0214   12.02
                nav    code
date
2018-05-18  13.4931  140333
2018-05-21  13.4943  140333
2018-05-22  13.4988  140333
2018-05-23  13.4934  140333
2018-05-24  13.4923  140333
...             ...     ...
2021-05-14  13.8295  140333
2021-05-17  13.8346  140333
2021-05-18  13.8360  140333
2021-05-19  13.8382  140333
2021-05-20  13.8398  140333

[728 rows x 2 columns]
     code  rolling start_dates  start_values  end_dates  end_values  change
0  119303        3  2018-05-18       13.4931 2021-05-18     13.8360    0.84
1  119303        3  2018-05-18       13.4931 2021-05-19     13.8382    0.85
2  119303        3  2018-05-18       13.4931 2021-05-20     13.8398    0.85
                nav    code
date
2018-07-02  13.3092  134110
2018-07-03  13.3206  134110
2018-07-04  13.3471  134110
2018-07-05  13.3438  134110
2018-07-06  13.3520  134110
...             ...     ...
2021-06-28  16.8456  134110
2021-06-29  16.8195  134110
2021-06-30  16.8155  134110
2021-07-01  16.8137  134110
2021-07-02  16.8439  134110

[726 rows x 2 columns]
     code  rolling start_dates  start_values  end_dates  end_values  change
0  119303        3  2018-07-02       13.3092 2021-07-02     16.8439    8.17
                nav    code
date
2018-07-02  13.0450  134109
2018-07-03  13.0556  134109
2018-07-04  13.0784  134109
2018-07-05  13.0746  134109
2018-07-06  13.0821  134109
...             ...     ...
2021-06-28  15.9498  134109
2021-06-29  15.9246  134109
2021-06-30  15.9204  134109
2021-07-01  15.9181  134109
2021-07-02  15.9463  134109

[726 rows x 2 columns]
     code  rolling start_dates  start_values  end_dates  end_values  change
0  119303        3  2018-07-02        13.045 2021-07-02     15.9463    6.92
                nav    code
date
2018-08-31  14.7364  112126
2018-09-03  14.6901  112126
2018-09-04  14.7370  112126
2018-09-05  14.6552  112126
2018-09-06  14.7131  112126
...             ...     ...
2023-04-13  17.7463  112126
2023-04-17  17.8113  112126
2023-04-18  17.9202  112126
2023-04-19  17.8294  112126
2023-04-20  17.7736  112126

[1092 rows x 2 columns]
       code  rolling start_dates  start_values  end_dates  end_values  change
0    119303        3  2018-08-31       14.7364 2021-09-01     16.0849    2.96
1    119303        3  2018-08-31       14.7364 2021-09-02     16.2634    3.34
2    119303        3  2018-09-03       14.6901 2021-09-03     16.3303    3.59
3    119303        3  2018-09-06       14.7131 2021-09-06     16.3352    3.55
4    119303        3  2018-09-07       14.4387 2021-09-07     16.3203    4.17
..      ...      ...         ...           ...        ...         ...     ...
380  119303        3  2020-04-09       10.5973 2023-04-13     17.7463   18.75
381  119303        3  2020-04-17       10.1433 2023-04-17     17.8113   20.64
382  119303        3  2020-04-17       10.1433 2023-04-18     17.9202   20.89
383  119303        3  2020-04-17       10.1433 2023-04-19     17.8294   20.68
384  119303        3  2020-04-20       10.1312 2023-04-20     17.7736   20.61

[385 rows x 7 columns]
                nav    code
date
2018-08-31  10.1302  106597
2018-09-03  10.0725  106597
2018-09-04   9.8940  106597
2018-09-05   9.8869  106597
2018-09-06   9.9845  106597
...             ...     ...
2023-04-13  19.6049  106597
2023-04-17  18.9626  106597
2023-04-18  19.1381  106597
2023-04-19  18.8847  106597
2023-04-20  18.8340  106597

[1092 rows x 2 columns]
       code  rolling start_dates  start_values  end_dates  end_values  change
0    119303        3  2018-08-31       10.1302 2021-09-01     17.2428   19.40
1    119303        3  2018-08-31       10.1302 2021-09-02     17.1422   19.17
2    119303        3  2018-09-03       10.0725 2021-09-03     17.3923   19.97
3    119303        3  2018-09-06        9.9845 2021-09-06     17.5374   20.66
4    119303        3  2018-09-07        9.8546 2021-09-07     17.4624   21.01
..      ...      ...         ...           ...        ...         ...     ...
380  119303        3  2020-04-09       15.0345 2023-04-13     19.6049    9.25
381  119303        3  2020-04-17       16.0693 2023-04-17     18.9626    5.67
382  119303        3  2020-04-17       16.0693 2023-04-18     19.1381    6.00
383  119303        3  2020-04-17       16.0693 2023-04-19     18.8847    5.53
384  119303        3  2020-04-20       16.1898 2023-04-20     18.8340    5.17

[385 rows x 7 columns]
                nav    code
date
2018-08-31  16.9939  115882
2018-09-03  16.9783  115882
2018-09-04  16.9469  115882
2018-09-05  17.0313  115882
2018-09-06  17.1522  115882
...             ...     ...
2023-04-13  19.8076  115882
2023-04-17  19.8855  115882
2023-04-18  19.9781  115882
2023-04-19  19.9133  115882
2023-04-20  19.9096  115882

[1092 rows x 2 columns]
       code  rolling start_dates  start_values  end_dates  end_values  change
0    119303        3  2018-08-31       16.9939 2021-09-01     23.3113   11.11
1    119303        3  2018-08-31       16.9939 2021-09-02     23.5464   11.48
2    119303        3  2018-09-03       16.9783 2021-09-03     23.5402   11.51
3    119303        3  2018-09-06       17.1522 2021-09-06     23.6110   11.24
4    119303        3  2018-09-07       17.0294 2021-09-07     23.6130   11.51
..      ...      ...         ...           ...        ...         ...     ...
380  119303        3  2020-04-09       15.8261 2023-04-13     19.8076    7.77
381  119303        3  2020-04-17       16.1821 2023-04-17     19.8855    7.11
382  119303        3  2020-04-17       16.1821 2023-04-18     19.9781    7.28
383  119303        3  2020-04-17       16.1821 2023-04-19     19.9133    7.16
384  119303        3  2020-04-20       16.0875 2023-04-20     19.9096    7.36

[385 rows x 7 columns]
               nav    code
date
2018-08-31  16.543  106441
2018-09-03  16.434  106441
2018-09-04  16.414  106441
2018-09-05  16.300  106441
2018-09-06  16.234  106441
...            ...     ...
2023-04-13  19.565  106441
2023-04-17  19.694  106441
2023-04-18  19.726  106441
2023-04-19  19.548  106441
2023-04-20  19.520  106441

[1123 rows x 2 columns]
       code  rolling start_dates  start_values  end_dates  \
0    119303        3  2018-08-31        16.543 2021-09-01
1    119303        3  2018-08-31        16.543 2021-09-02
2    119303        3  2018-09-03        16.434 2021-09-03
3    119303        3  2018-09-03        16.434 2021-09-03
4    119303        3  2018-09-07        16.215 2021-09-07
..      ...      ...         ...           ...        ...
385  119303        3  2020-04-13        14.778 2023-04-13
386  119303        3  2020-04-17        15.209 2023-04-17
387  119303        3  2020-04-17        15.209 2023-04-18
388  119303        3  2020-04-17        15.209 2023-04-19
389  119303        3  2020-04-20        15.154 2023-04-20

                                            end_values  \
0                                               22.832
1                                               22.924
2    date
2021-09-03    22.983
2021-09-03    22.983...
3    date
2021-09-03    22.983
2021-09-03    22.983...
4                                               23.265
..                                                 ...
385                                             19.565
386                                             19.694
387                                             19.726
388                                             19.548
389                                              19.52

                                                change
0                                                11.34
1                                                11.49
2    date
2021-09-03    11.83
2021-09-03    11.83
N...
3    date
2021-09-03    11.83
2021-09-03    11.83
N...
4                                                12.79
..                                                 ...
385                                                9.8
386                                                9.0
387                                               9.06
388                                               8.73
389                                               8.81

[390 rows x 7 columns]
                nav    code
date
2018-08-31  12.7358  130493
2018-09-03  12.6928  130493
2018-09-04  12.7036  130493
2018-09-05  12.7688  130493
2018-09-06  12.8019  130493
...             ...     ...
2023-04-13  17.6865  130493
2023-04-17  17.6248  130493
2023-04-18  17.6860  130493
2023-04-19  17.6227  130493
2023-04-20  17.6493  130493

[1092 rows x 2 columns]
       code  rolling start_dates  start_values  end_dates  end_values  change
0    119303        3  2018-08-31       12.7358 2021-09-01     17.8932   12.00
1    119303        3  2018-08-31       12.7358 2021-09-02     17.9364   12.09
2    119303        3  2018-09-03       12.6928 2021-09-03     17.9397   12.22
3    119303        3  2018-09-06       12.8019 2021-09-06     17.9744   11.98
4    119303        3  2018-09-07       12.7342 2021-09-07     17.9918   12.21
..      ...      ...         ...           ...        ...         ...     ...
380  119303        3  2020-04-09       13.5057 2023-04-13     17.6865    9.41
381  119303        3  2020-04-17       13.7666 2023-04-17     17.6248    8.58
382  119303        3  2020-04-17       13.7666 2023-04-18     17.6860    8.71
383  119303        3  2020-04-17       13.7666 2023-04-19     17.6227    8.58
384  119303        3  2020-04-20       13.7094 2023-04-20     17.6493    8.79

[385 rows x 7 columns]
                nav    code
date
2018-08-31  12.5569  130492
2018-09-03  12.5143  130492
2018-09-04  12.5248  130492
2018-09-05  12.5890  130492
2018-09-06  12.6215  130492
...             ...     ...
2023-04-13  16.9452  130492
2023-04-17  16.8849  130492
2023-04-18  16.9434  130492
2023-04-19  16.8824  130492
2023-04-20  16.9076  130492

[1092 rows x 2 columns]
       code  rolling start_dates  start_values  end_dates  end_values  change
0    119303        3  2018-08-31       12.5569 2021-09-01     17.3276   11.33
1    119303        3  2018-08-31       12.5569 2021-09-02     17.3692   11.42
2    119303        3  2018-09-03       12.5143 2021-09-03     17.3721   11.55
3    119303        3  2018-09-06       12.6215 2021-09-06     17.4048   11.31
4    119303        3  2018-09-07       12.5547 2021-09-07     17.4212   11.54
..      ...      ...         ...           ...        ...         ...     ...
380  119303        3  2020-04-09       13.1949 2023-04-13     16.9452    8.70
381  119303        3  2020-04-17       13.4483 2023-04-17     16.8849    7.88
382  119303        3  2020-04-17       13.4483 2023-04-18     16.9434    8.01
383  119303        3  2020-04-17       13.4483 2023-04-19     16.8824    7.88
384  119303        3  2020-04-20       13.3917 2023-04-20     16.9076    8.08

[385 rows x 7 columns]
                nav    code
date
2018-08-31   7.9558  112293
2018-09-03   7.9222  112293
2018-09-04   7.7528  112293
2018-09-05   7.8038  112293
2018-09-06   7.9143  112293
...             ...     ...
2023-04-13  17.2289  112293
2023-04-17  17.1995  112293
2023-04-18  17.3728  112293
2023-04-19  17.2435  112293
2023-04-20  17.0731  112293

[1092 rows x 2 columns]
       code  rolling start_dates  start_values  end_dates  end_values  change
0    119303        3  2018-08-31        7.9558 2021-09-01     13.9552   20.60
1    119303        3  2018-08-31        7.9558 2021-09-02     14.0961   21.01
2    119303        3  2018-09-03        7.9222 2021-09-03     14.2314   21.56
3    119303        3  2018-09-06        7.9143 2021-09-06     14.2262   21.59
4    119303        3  2018-09-07        7.7845 2021-09-07     14.2894   22.44
..      ...      ...         ...           ...        ...         ...     ...
380  119303        3  2020-04-09        7.7783 2023-04-13     17.2289   30.35
381  119303        3  2020-04-17        8.0129 2023-04-17     17.1995   29.00
382  119303        3  2020-04-17        8.0129 2023-04-18     17.3728   29.43
383  119303        3  2020-04-17        8.0129 2023-04-19     17.2435   29.11
384  119303        3  2020-04-20        7.9634 2023-04-20     17.0731   28.95

[385 rows x 7 columns]
               nav    code
date
2018-08-31  35.937  119028
2018-09-03  35.830  119028
2018-09-04  35.276  119028
2018-09-05  35.448  119028
2018-09-06  35.593  119028
...            ...     ...
2023-04-13  62.509  119028
2023-04-17  62.808  119028
2023-04-18  63.036  119028
2023-04-19  63.282  119028
2023-04-20  63.263  119028

[1109 rows x 2 columns]
       code  rolling start_dates  start_values  end_dates  end_values  change
0    119303        3  2018-08-31        35.937 2021-09-01      55.448   15.55
1    119303        3  2018-08-31        35.937 2021-09-02      55.860   15.84
2    119303        3  2018-09-03        35.830 2021-09-03      56.679   16.52
3    119303        3  2018-09-06        35.593 2021-09-06      56.689   16.78
4    119303        3  2018-09-07        35.929 2021-09-07      56.513   16.30
..      ...      ...         ...           ...        ...         ...     ...
386  119303        3  2020-04-09        24.131 2023-04-13      62.509   37.34
387  119303        3  2020-04-17        24.885 2023-04-17      62.808   36.15
388  119303        3  2020-04-17        24.885 2023-04-18      63.036   36.32
389  119303        3  2020-04-17        24.885 2023-04-19      63.282   36.49
390  119303        3  2020-04-20        24.646 2023-04-20      63.263   36.92

[391 rows x 7 columns]
                nav    code
date
2018-08-31  17.5272  119602
2018-09-03  17.4386  119602
2018-09-04  17.3995  119602
2018-09-05  17.2877  119602
2018-09-06  17.2768  119602
...             ...     ...
2023-04-13  26.8090  119602
2023-04-17  26.7547  119602
2023-04-18  26.8800  119602
2023-04-19  26.8732  119602
2023-04-20  26.7369  119602


KeyboardInterrupt: ignored