In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('Market_Basket_Optimisation.csv', header = None)

In [ ]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7501 entries, 0 to 7500
Data columns (total 20 columns):
0     7501 non-null object
1     5747 non-null object
2     4389 non-null object
3     3345 non-null object
4     2529 non-null object
5     1864 non-null object
6     1369 non-null object
7     981 non-null object
8     654 non-null object
9     395 non-null object
10    256 non-null object
11    154 non-null object
12    87 non-null object
13    47 non-null object
14    25 non-null object
15    8 non-null object
16    4 non-null object
17    4 non-null object
18    3 non-null object
19    1 non-null object
dtypes: object(20)
memory usage: 1.1+ MB

In [ ]:
df[1][0:3]

0      almonds
1    meatballs
2          NaN
Name: 1, dtype: object

In [ ]:
transactions = []
for i in range(0,7501):
    transactions.append([str(df.iloc[i,j]) for j in range(0,20) if str(df.iloc[i,j])!='nan'])

In [ ]:
transactions

In [ ]:
len(transactions)

7501

In [ ]:
len(transactions[1])

3

In [ ]:
from apyori import apriori

In [ ]:
rules = apriori(transactions, min_support = 0.005, min_confidence = 0.5, min_lift = 3, max_length  =4)

In [ ]:
type(rules)

generator

In [ ]:
rules

In [ ]:
rules = list(rules)

In [ ]:
len(rules)

1

In [ ]:
rules

[RelationRecord(items=frozenset({'shrimp', 'ground beef', 'spaghetti'}), support=0.005999200106652446, ordered_statistics=[OrderedStatistic(items_base=frozenset({'shrimp', 'ground beef'}), items_add=frozenset({'spaghetti'}), confidence=0.5232558139534884, lift=3.005315360233627)])]

In [ ]:
rule1

[RelationRecord(items=frozenset({'cereals', 'ground beef', 'spaghetti'}), support=0.0030662578322890282, ordered_statistics=[OrderedStatistic(items_base=frozenset({'cereals', 'ground beef'}), items_add=frozenset({'spaghetti'}), confidence=0.6764705882352942, lift=3.8853031258445188)]),
 RelationRecord(items=frozenset({'chicken', 'milk', 'olive oil'}), support=0.0035995200639914677, ordered_statistics=[OrderedStatistic(items_base=frozenset({'chicken', 'olive oil'}), items_add=frozenset({'milk'}), confidence=0.5, lift=3.858539094650206)])]

In [ ]:
df = pd.DataFrame(columns = ['Items add', 'items base', 'confidence'])

In [ ]:
for i in range(len(rules)):
    ib = rules[i].ordered_statistics[0].items_base
    ia = rules[i].ordered_statistics[0].items_add
    c = rules[i].ordered_statistics[0].confidence
    df.loc[i] = [ia, ib, c]

In [ ]:
df

          Items add                                     items base  confidence
0       (spaghetti)                         (cereals, ground beef)    0.676471
1            (milk)                           (chicken, olive oil)    0.500000
2       (spaghetti)                     (cooking oil, ground beef)    0.571429
3       (spaghetti)                               (red wine, eggs)    0.528302
4            (milk)                      (soup, frozen vegetables)    0.500000
5       (spaghetti)                          (shrimp, ground beef)    0.523256
6       (spaghetti)                    (ground beef, tomato sauce)    0.575000
7       (spaghetti)                          (tomatoes, olive oil)    0.611111
8       (spaghetti)    (chocolate, ground beef, frozen vegetables)    0.534884
9       (spaghetti)         (milk, ground beef, frozen vegetables)    0.534884
10           (milk)  (mineral water, frozen vegetables, olive oil)    0.510204
11  (mineral water)                (soup, milk, frozen vegetables)    0.766667
12      (spaghetti)   (tomatoes, mineral water, frozen vegetables)    0.522727
13      (spaghetti)         (tomatoes, ground beef, mineral water)    0.560976